.author {
    display: block;
    font-size: 2em;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.6em;
    text-align: center
    }
.author1 {
    display: block;
    font-size: 1.125em;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.authors {
    display: block;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center
    }
.block {
    display: block;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    text-align: justify
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0.75em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.75em
    }
.calibre1 {
    height: auto;
    width: auto
    }
.calibre2 {
    text-decoration: none
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    font-size: 0.75em
    }
.calibre5 {
    font-weight: bold
    }
.calibre6 {
    display: block
    }
.center {
    display: block;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.chap-head {
    display: block;
    font-size: 1.41667em;
    line-height: 1.3em;
    margin-bottom: 2.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center
    }
.chap-head1 {
    display: block;
    font-size: 1.41667em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center
    }
.copy {
    display: block;
    font-size: 0.75em;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.copy1 {
    display: block;
    font-size: 0.75em;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.drop-cap {
    font-size: 1.66667em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0
    }
.image-center {
    display: block;
    margin-bottom: 2.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center
    }
.image-center1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.image-center2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5em;
    text-align: center
    }
.image-center3 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5em;
    text-align: center
    }
.indent {
    display: block;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.1em
    }
.indent-it {
    display: block;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 1.1em
    }
.logo {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12em;
    text-align: center
    }
.noindent {
    display: block;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify
    }
.noindent1 {
    display: block;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify
    }
.part-aut {
    display: block;
    font-size: 1.41667em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-align: center
    }
.part-no {
    display: block;
    font-size: 2em;
    line-height: 1.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.part-title {
    display: block;
    font-size: 2em;
    line-height: 1.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-align: center
    }
.right {
    display: block;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right
    }
.source {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.source-back {
    background: #c2d5dc;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.source-head {
    display: block;
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.source-logo {
    display: block;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center
    }
.source1 {
    display: block;
    font-size: 0.75em;
    line-height: 1.3em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.title {
    display: block;
    font-size: 2em;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.8em;
    text-align: center
    }
.title1 {
    display: block;
    font-size: 1.41667em;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.toc {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: justify
    }
.toc-aut {
    display: block;
    font-size: 0.75em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.toc-part {
    display: block;
    font-size: 1.125em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.toc-underline {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: thin;
    display: block;
    margin-bottom: 1em
    }
.toc1 {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.toc2 {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify
    }
.toc3 {
    display: block;
    font-size: 1em;
    line-height: 1.35em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "ACaslonProIt";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "ACaslonPro-Regular";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "AGaramond-Bold";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "AGaramond-BoldItalic";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "AGaramond-Italic";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "AGaramond-Regular";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "AJensonPro-Regular";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "AJensonPro-Bold";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "AJensonPro-It";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "Bembo";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "Century-it";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "Humanist-bt-light";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MinionPro-Bold";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }
@font-face {
    font-family: "MinionPro-Regular";
    src: url(styles/XXXXXXXXXXXXXXXX)
    }

